.layoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  flex: 1;
}

@media only screen and (max-width:768px) {
  .layoutContainer {
    flex-direction: column;
    padding: 20px;
  }
}

@media only screen and (max-width:320px) {
  .layoutContainer h1 {
    font-size: 1.8rem;
  }

  .layoutContainer h3 {
    font-size: 1.3rem;
  }

}