.banner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100vw;
}

.banner_container img {
    transform: scale(0.7);
}

.bannerSidenav_container{
    margin: 17px ;
}

.bannerSidenav_container img {
    min-height: 65px;
    max-height: 65px;
}