.navbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.navbar_container ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar_container ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 0 40px;
}
