.navbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.navbar_container ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar_container ul li {
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: #262626;
  transition: 0.4s;
}

.navbar_container ul li:hover {
  background: #d7be97;
}
